html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  background: #ebebeb;
  overflow-y: auto;
  margin: 0;
  padding: 10px;
}

* {
  box-sizing: border-box;
}
